@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
    height: 100vh;
}

.header-title {
    font-size: 150px;
    width: fit-content;
    margin: auto;
}

.title-black {
    color: black;
    position: relative;
    top: 150px;
    right: 20px;
    z-index: 3;
    animation-name: jump;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.title-red {
    color: darkred;
    opacity: 0.5;
    position: relative;
    z-index: 2;
    animation: jump 3s ease 0s infinite alternate;
}

.title-blue {
    color: purple;
    opacity: 0.5;
    position: relative;
    bottom: 150px;
    left: 20px;
    z-index: 1;
    animation: jump 3s ease 1s infinite reverse;
}

.header-btn-black {
    display: block;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    transition: 0.5s;
}

.header-btn-black:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.header-btn-red {
    background-color: darkred;
    width: 300px;
    height: 50px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-60%);
    z-index: 2;
}

.header-btn-blue {
    background-color: purple;
    width: 300px;
    height: 50px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-40%);
    z-index: 1;
}

.go-up-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 5px 10px gray;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.articles-container {
    width: 1000px;
    padding: 30px;
    margin: auto;
}

.article {
    font-family: "Roboto", sans-serif;
    border: 2px solid black;
    margin-top: 100px;
}

.article-title {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    position: sticky ;
    top: 0;
    z-index: 10;
}

.article-category {
    text-align: center;
    padding: 10px;
    background-color: tomato;
    color: black;
    text-decoration: underline;
    font-size: 25px;
}

.article-image {
    width: 100%;
    filter: opacity(0.9) brightness(1.1);
    position: sticky;
    top: 0;
}

.article-text {
    padding: 40px;
    background-color: #ffffff;
    position: relative;
    z-index: 9;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}